html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
}

.mdl-layout-title {
  font-family: 'Lobster';
  font-size: 28px;
}

.mdl-logo {
  font-family: 'Lobster';
  font-size: 17px;
}

#user-pic {
  position: relative;
  display: inline-block;
  background-image: url('/images/profile_placeholder.png');
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  background-size: 40px;
  border-radius: 20px;
}

.recipe-data pre {
    font-family: 'Roboto';
    font-size: 14px;
    letter-spacing: 0;
    margin: 0 0 0px;
}

@media screen and (max-width: 851px) {
  .mdl-layout__header-row {
    padding: 0 30px 0 30px;
  }
}

@media screen and (min-width: 851px) {
  .mdl-layout__header-row {
    padding: 0 72px 0 72px;
  }
}

.none { display: none; }

.flexdropdown {
    -webkit-padding-start: 0px;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    /*width:90%;*/
    position: relative; /* <-- Added */
    z-index: 9999 !important; /* <-- Added */
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
